.cabecera{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 1.1em 10em;
    background-color: var(--negro);
}

a{text-decoration: none;}

.logoContainer{
    height: 40px;
    display: flex;
    align-items: center;
}

.cabecera img {
    align-items: start;
}

.cabecera span {
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    margin-left: 8px;
    font-size: 2.5rem;
}